# Ignore VS Code settings and project files
.vscode/**
.vscode-test/**
jsconfig.json
tsconfig.json
webpack.config.js
.gitignore
.git
.eslintrc.json
.github/**
.prettierignore

# Ignore development and test-related files
**/build/**
**/out/**
**/test/**
**/temp/**
**/coverage/**

# Ignore documentation
**/docs/**
README.md
CHANGELOG.md
images/feature_everything.gif
vsc-extension-quickstart.md

# Ignore all log files and folders
**/*.log
logs/**
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Ignore scripts
**/scripts/**

# Ignore dependencies
**/node_modules/**

# Ignore src dir
src/**

# Other
.DS_Store
difference